{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false
    },
    "target": "es2022",
    "loose": false,
    "minify": {
      "compress": {
        "arrows": true,
        "collapse_vars": true,
        "dead_code": true,
        "drop_console": true
    },
      "mangle": {
        "topLevel": false,
        "keepFnNames": false,
        "keepPrivateProps": false,
        "keepClassNames": false
      },
      "format": {
          "beautify": false,
          "comments": false
      }
    }
  }
}